* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width:100%;
}

#wheelOfFortune {
  /* display: inline-block; */
  position: relative;
  overflow: hidden;
  margin: 7% 10%;
}

#wheel {
  display: block;
  margin: 0% auto;
}

#spin {
  font: 1em/1 sans-serif;  /* A font méretét kisebbre állítjuk */
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Pontosan középre helyezi */
  width: 100px; /* Gomb mérete */
  height: 100px;
  background: #fff;
  color: #000;
  box-shadow: 0 0 0 8px currentColor, 0 0 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}

#spin::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}


.content-container {
  display: flex;
  flex-direction: column-reverse;
}

.wheel-box_first {
  width: 65%;
}

.wheel-box_second {
  width: 35%;
}

#wheelMessage{
  color:#00c7efa6;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  margin:1% 10%;
  font-weight: bold;
  text-align: center;
}

#selectedWord{
  color:#00c7efa6;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  margin:1% 10%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card-group{
  margin:2%;
}

.blog_container{
  background: #ffffff70;
  padding: 1%;
  width: 70%;
  margin: 2% auto;
  border-radius: 32px;
}

.blog_container h5{
  font-size: 35px;
}

.blog_container p, .blog_container h5{
  text-align: center;
  color:#000;
}

.blog_container img{
  margin: 5px auto;
}

.text-muted{
  color:#464c51 !important;
}

#search{
  width:475px;
}

.header-container {
  display: flex;
}

.search-container {
  display: flex;
  margin-left: 2%;
  position: relative;
}

.card-header{
  background-color: #d5a64d94;
}

.tours_make-container{
  color:#fff;
}

.tours_input{
  background-color: #ffffff73 !important;
  border:1px solid #ced4da !important;
  border-radius: .25rem !important;
}

.favorites_buttons{
  justify-content: center;
  align-items: center;
}

#results {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  margin-top:41px;
  z-index: 2;
}

#results li {
  padding: 8px;
  cursor: pointer;
}

#results li:hover {
  background: #f0f0f0;
}

.text-muted {
  color: #ffffffc4 !important;
}

.footer__container{
  background: #3b5147;
  padding:2%;
}

.app__text{
  color:#fff;
}

#selectedWord {
  cursor: pointer;
}

#selectedWord:hover {
  text-decoration: underline;
}

.filters-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 0.9rem; 
  margin-top:1%;
}

.filters-container label {
  font-size: 0.85rem; 
  margin-right: 5px;
}

.filters-container .filter-input {
  width: 120px; 
  padding: 5px; 
  font-size: 0.85rem; 
}

.filters-container .search__button {
  padding: 6px 12px; 
  font-size: 0.85rem; 
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filters-container .search__button:hover {
  background-color: #0056b3; 
}

.about_us{
  background-color: #ffffff70;
  border-radius: 5%;
  margin: 2% auto;
  padding: 32px;
  width:70%;
}

.about_us h1{
  font-size: 24px;
  text-align: center;
}

.about_us img{
  width:55%;
  margin:2% auto;
  border-radius: 2%;
}

.list-disc{
  list-style-type: circle;
  margin-left:5%;
}

.footer__div {
  background-color: #3b5147;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer__container {
  flex: 1;
  min-width: 300px;
}

.footer__app{
  text-align: right;
}

.footer__container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__container ul li {
  margin-bottom: 5px;
}

.app__text:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

.text-muted {
  color: #ffffffc4 !important;
}

@media (max-width: 768px) {
  .footer__div {
      flex-direction: column;
      text-align: center;
  }

  .footer__container {
      text-align: center;
      margin-bottom: 10px;
  }

  .footer__container ul {
      display: inline-block;
  }

  #search{
    width:150px;
  }

  .wheel-box_first {
    width: 100%; 
  }

  .wheel-box_second {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .blog_container{
    width:100% !important;
    margin:0 !important;
    border-radius:0 !important;
  }

  .filters-container {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    margin: 5px auto;
  }

  .filters-container .filter-input {
      width: 46%; 
  }

  .search__button{
    margin-left:3px;
  }

  #interest{
    margin-left: 10px;
  }

  #wheel{
    width:100%;
  }

}