{
	"openapi": "3.1.0",
	"info": {
	  "title": "Turist API",
	  "version": "1.0.0",
	  "description": "API for the Turist application"
	},
	"servers": [
	  {
		"url": "https://gt.stud.vts.su.ac.rs/api"
	  }
	],
	"paths": {
	  "/search": {
		"get": {
		  "summary": "Search attractions",
		  "parameters": [
			{
			  "name": "query",
			  "in": "query",
			  "schema": { "type": "string" }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "List of attractions"
			}
		  }
		}
	  },
	  "/getAttractions": {
		"get": {
		  "summary": "Get attraction details",
		  "parameters": [
			{
			  "name": "selectedName",
			  "in": "query",
			  "schema": { "type": "string" }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Attraction details"
			}
		  }
		}
	  },
	  "/getAttractionsByFilters": {
		"get": {
		  "summary": "Filter attractions",
		  "parameters": [
			{
			  "name": "city",
			  "in": "query",
			  "schema": { "type": "string" }
			},
			{
			  "name": "type",
			  "in": "query",
			  "schema": { "type": "string" }
			},
			{
			  "name": "interest",
			  "in": "query",
			  "schema": { "type": "string" }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Filtered attractions"
			}
		  }
		}
	  },
	  "/cities": {
		"get": {
		  "summary": "Get available cities",
		  "responses": {
			"200": {
			  "description": "List of cities"
			}
		  }
		}
	  },
	  "/types": {
		"get": {
		  "summary": "Get attraction types",
		  "responses": {
			"200": {
			  "description": "List of attraction types"
			}
		  }
		}
	  },
	  "/interests": {
		"get": {
		  "summary": "Get interests",
		  "responses": {
			"200": {
			  "description": "List of interests"
			}
		  }
		}
	  },
	  "/saveSelectedName": {
		"post": {
		  "summary": "Save selected attraction name",
		  "responses": {
			"200": {
			  "description": "Name saved successfully"
			}
		  }
		}
	  }
	}
  }
  